@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: 1fr 1fr 2fr 2fr;
    font-family: Roboto, Arial;
}

.logo-section {
    display: grid;
    justify-content: left;
    grid-auto-flow: column;
    column-gap: 20px;
    font-size: 30px;
    padding-top: -2%;
    padding: 20px;
}

.main-section, .other-section {
    font-size: 20px;
    padding: 30px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    row-gap: 20px;
}

li {
    display: grid;
    justify-content: left;
    grid-auto-flow: column;
    column-gap: 30px;
}

.logo {
    width: 40px;
    height: 40px;
    justify-self: right;
}

.icon {
    width: 20px;
    height: 20px;
}

.search, .main-options {
    grid-column: 2 / 4;
}

.sidebar {
    display: grid;
    grid-template-rows: 80px 315px 300px;
    grid-row: 1 / 5;
    background-color: #0ea5e9;
    color: white;
    font-weight: 500;
}

.projects {
    grid-row: 3 / 5;
}

.projects, .announcements, .trending {
    background-color: #e5e7eb;
}
